{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<main id='main-pic row'>
    <div class='holder col-lg-4 col-md-10 col-12 m-md-5 m-3'>
        <h1>PIXIE GAMES</h1>
        <p>
            We’ve been expecting you… You sure took your own sweet time getting here didn’t you?
            Now that you’re here, let us officially welcome you to the ultimate destination for selling and discussing online games.
            At Pixie Games we offer the hottest titles at the lowest prices. So what are you waiting for?
            Browse our catalog and feast your eyes on the myriad of games available. Keep your eyes peeled for our discounted merchandise (available for limited time only).
        </p>
        <p>
            Got something to say about your favourite game? Head on down to our Community Reviews to contribute your opinion and be a part of something larger.
        </p>
        <a href='/catalog' class="btn btn-light">Start Browsing</a>
    </div>
    <div class='overlay'></div>
</main>
{% endblock %}
