{% extends 'base.html' %}

{%block content %}
<h1>Your Cart</h1>
<ul>
    {%for id, games in cart.items %}
        <li>
            Title of Game: {{games.title}}<br/>
            Price: ${{games.cost}}<br />
            Subtotal: ${{games.subtotal}}<br />
            <a href="/cart/add_qty/{{games.id}}">Add</a>
            Quantity: {{games.qty}}
            <a href="/cart/remove_qty/{{games.id}}">Reduce</a>
        </li>
    {%endfor%}
    
    <br/>
    <button type="submit" onclick="window.location='../checkout'" class='btn btn-success'>Checkout</button>
    <a href="{% url 'show_games' %}" class='btn btn-primary'>Back To Games</a>
</ul> 
{%endblock %}