{% extends 'base.html' %}

{%block content %}
<h1>Your Cart</h1>
<ul>
    {%for id, games in cart.items %}
        <li>
            <strong>Title of Game:</strong> {{games.title}}<br/>
            <strong>Price:</strong> ${{games.cost}}<br />
            <strong>Subtotal:</strong> ${{games.subtotal}}<br />
            <br>
           <a href="/cart/add_qty/{{games.id}}" type="button" class="btn btn-warning">Add</a>
            Quantity: {{games.qty}}
           <a href="/cart/remove_qty/{{games.id}}" type="button" class="btn btn-warning">Reduce</a>
        </li>
    {%endfor%}
    
    <br/>
    <a href="{% url 'show_games' %}" class='btn btn-primary'>Back To Games</a>
    <button type="submit" onclick="window.location='../checkout'" class='btn btn-success'>Checkout</button>
</ul> 

<br>
<br>
<br>
<br>
<br>
<br>

{%endblock %}