{% extends 'base.html' %}
{% load static %}

{%block content%}

<head>
<link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
</head>
<br>
  <img src="{% static 'images/top-image.png' %}" alt="top" class= "top-image" width="150" height="150">

    
<br>

<div class="container">
<h1><strong>PIXIE GAMES</strong></h1>

  <!--<img src="{% static 'images/logo.png' %}" alt="top" class= "logo" width="200" height="200">-->

<br>
<div class="about-text">
<p>We’ve been expecting you…

You sure took your own sweet time getting here didn’t you?
<br>
<br>
Now that you’re here, let us officially welcome you to the ultimate destination for selling and discussing online games. 
<br>
<br>
At Pixie Games we offer the hottest titles at the lowest prices. So what are you waiting for? 
<br>
<br>
Browse our catalog and feast your eyes on the myriad of games available. Keep your eyes peeled for our discounted merchandise (available for limited time only). 
<br>
<br>
Got something to say about your favourite game? Head on down to our Community Reviews to contribute your opinion and be a part of something larger. 
</p>
<br>
 <a href="/catalog" class='btn btn-primary'>Happy Browsing!</a>
</div>
</div>



{% endblock %}

