{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<!--<div class="container">-->
    <!--<h1>PIXIE GAMES</h1>-->
<!--    <div>-->
<!--        <img src="{% static 'images/logo.png' %}" alt="logo" class="logo" width="200" height="200">-->
<!--        <img src="{% static 'images/top-image.jpg' %}" alt="top" class="top-image" width="100" height="100">-->
<!--    </div>-->
<!--    <div class="about-text">-->
<!--        <p>-->
<!--            We’ve been expecting you…-->
<!--        </p>-->
<!--        <p>-->
<!--            You sure took your own sweet time getting here didn’t you?-->
<!--        </p>-->
<!--        <p>-->
<!--            Now that you’re here, let us officially welcome you to the ultimate destination for selling and discussing online games.-->
<!--        </p>-->
<!--        <p>-->
<!--            At Pixie Games we offer the hottest titles at the lowest prices. So what are you waiting for?-->
<!--        </p>-->
<!--        <p>-->
<!--            Browse our catalog and feast your eyes on the myriad of games available. Keep your eyes peeled for our discounted merchandise (available for limited time only).-->
<!--        </p>-->
<!--        <p>-->
<!--            Got something to say about your favourite game? Head on down to our Community Reviews to contribute your opinion and be a part of something larger.-->
<!--        </p>-->
<!--        <a href="/catalog" class='btn btn-primary'>Happy Browsing!</a>-->
<!--    </div>-->
<!--</div>-->
{% endblock %}
