{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">

    <!----Link to CSS---->

    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">

</head>
<body>
  
  <!----logo---->
<!--<div class="container">-->
<!--    <a href="/home"><img src="{% static 'images/logo.png' %}" title="logo" alt="logo"></a>-->
<!--    </div>-->

    
    <!-----nav bar----->

<!-----nav bar----->
<div class="container-fluid">
<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
<a href="/home">Home</a>
	<!--<a href="/about">About</a> Need to create an about page-->
	<a href="/catalog">Catalog</a>
	<a href="buynow.html">Register</a>
	<a href="buynow.html">Login</a>
  </div>
</div>

<div class="hamburger" onclick="openNav()">&#9776;</div>
</div>
<!-----JS for Nav----->

<script>
function openNav() {
  document.getElementById("myNav").style.height = "100%";
}

function closeNav() {
  document.getElementById("myNav").style.height = "0%";
}

</script>

<!--// Custom carousel-->
<div class="container">
    <div id="myCarousel" class="carousel slide">

    <ol class="carousel-indicators">
      <li class="item1 active"></li>
      <li class="item2"></li>
      <li class="item3"></li>
      <li class="item4"></li>
    </ol>

<!-- Wrapper for slides -->

    <div class="container">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
      
 
        <img src="{% static 'images/logo.png' %}" alt="Chania" width="460" height="345">
        
        <div class="middle">
    <div class="text">Latest News About Your Favourite Games</div>
  </div>
  </div>

      <div class="item">
        <img src="{% static 'images/logo.png' %}" alt="Chania" width="460" height="345">
        <div class="middle">
    <div class="text">Stream Live Games</div>
  </div>
      </div>
 
    
      <div class="item">
        <img src="{% static 'images/logo.png' %}" alt="Flower" width="460" height="345">
        <div class="middle">
    <div class="text">Community</div>
      </div>
      </div>
     

      <div class="item">
        <img src="{% static 'images/logo.png' %}" alt="Flower" width="460" height="345">
        <div class="middle">
    <div class="text">Upcoming Games</div>
      </div>
    </div>
</div>
</div>

<!--Custom JS for carousel-->

<script>
$(document).ready(function(){
  // Activate Carousel
  $("#myCarousel").carousel({interval: 3000});
    
  // Enable Carousel Indicators
  $(".item1").click(function(){
    $("#myCarousel").carousel(0);
  });
  $(".item2").click(function(){
    $("#myCarousel").carousel(1);
  });
  $(".item3").click(function(){
    $("#myCarousel").carousel(2);
  });
  $(".item4").click(function(){
    $("#myCarousel").carousel(3);
  });

  
});
</script>

</body>
</html>