{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%block content%}

<section id='section-login' class='p-md-5 p-3 text-light'>
    <div class="row">
        <div class="col">
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            {% if next %} 
                {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
                {% else %}
                <p>Please login to see this page.</p>
                {% endif %} 
            {% endif %}
            <div class="text-center">
                <h3>READY TO ENTER PIXIE WORLD ! </h3>
            </div>
            <div class="col-12">
                <form  method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                        </tr>
                    </table>
        
                    <input class='btn btn-secondary mt-2' type="submit" value="Login to Pixie Games">
                    <input type="hidden" name="next" value="{{ next }}">
                </form>             
                <br/> {# Assumes you setup the password_reset view in your URLconf #}
                <small class='text-muted'>Forgot your password? <a href="{% url 'password_reset' %}" class='text-primary'><u>Click here</u></a></small>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
{% endblock %}