{% extends 'base.html' %}


{%block content%}
<head>
<link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
</head>
<div>


    <h1>Community Reviews</h1>
     </br>
       {% if user.is_authenticated %}
<a href="/users/create_reviews" class='btn btn-primary'>Add Reviews</a>
  {% endif %}
    <ul style="list-style-type:none;">
    {% for c in all_reviews %}
     </br>
     <div class="text-review">
        <li <strong>Username:</strong> {{c.username}}</li>
        <li <strong>Title:</strong> {{c.title}}</li>
        <li <strong>User Rating:<strong> {{c.rating}}</li> 
        <li <strong>User Review:<strong> {{c.reviews}}</li>
        <li <strong>Posted on:<strong> {{c.posted_on}}</li>
        </div>
        <br>
         {% if user.is_superuser %}
        <li><a href='{% url "delete_reviews" reviews_id=c.id %}' class='btn btn-danger'>Delete</a></li>
         {% endif %}
    {% endfor %}
  </ul>
{% endblock %}