{% extends 'base.html' %} 
{% load static %}

{%block content%}
<section id='section-catalog'>
   
    <div class="p-5">&nbsp</div>
    <div class'row'>
        
        <!--search bar for user to enter-->
        <div class="col-md-6 col-12 mx-auto">
            {% if not all_games %} cannot find any match {% endif %}
            <form action="" method="GET">
                <input class="form-control mr-sm-2" type="textbox" name="title" placeholder="Enter the title you searching for" aria-label="Search">
                <br/>
                <button class="btn btn-outline-dark bg-light my-2 my-sm-0" type="submit">Search</button>
                <a href="{% url 'show_games' %}" class='btn btn-dark'>Reset Search</a>
            </form>
        </div>
        <div class="col-md-6 col-12 text-light font-weight-bold mx-auto">
            <h2>Featured Games</h2>
        </div>
        
    </div>
</section>
{% endblock %}
