{% extends 'base.html' %} 
{% load static %}

{%block content%}
<section id='section-catalog'>
    <div class="overlay">
    </div>
    <div class="p-5"></div>
    <div class="holder">
        <h1>Games</h1>
        <div class="menu mb-3">
            {% if not all_games %} cannot find any match {% endif %}
            <form action="" method="GET">
                <input class="form-control mr-sm-2" type="textbox" name="title" placeholder="Search" aria-label="Search">
                <br/>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <a href="{% url 'show_games' %}" class='btn btn-primary'>Reset Search</a>
            </form>
        </div>
    </div>
    
</section>
{% endblock %}
