{% extends 'base.html' %}
{% load static %}


{%block content%}
<head>
<link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
</head>

<div>

<br>
<h1>Games</h1>
<br>
<!--Dropdown Search-->
<div class="container">
    <div class="menu">
        {% if not all_games %}
        cannot find any match
        {% endif %}
        <form action="" method="GET">
            <input class="form-control mr-sm-2" type="textbox" name="title" placeholder="Search" aria-label="Search">
            <br/>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> 
  <a href="{% url 'show_games' %}" class='btn btn-primary'>Reset Search</a>

  
        </form>
    

  </div>
</div>
</div>
</br>







<div class="container">
<div class="row row-cols-1 row-cols-md-2">
     {% if user.is_authenticated %}
    <a href="{% url 'create_games' %}" class='btn btn-info'>Create Game</a>
     {% endif %}
    <ul>
    {% for c in all_games %}
    <br>
    <div class="col mb-4">
<div class="card">
    <br>
    
<img src="/{{c.image}}" class="responsive-img" width="300" height="200"/>
</div>

<div class="container-fluid">
        <div class="game-card-text">
        <h2 class="card-title"><strong>{{c.title}}</strong></h2>
        <h3 class="card-text"><h3>Summary:</h3> {{c.desc}}</h3>
        <h3 class="card-text"><h3>Genre:</h3> {{c.category}}</h3>
        <h3 class="card-text"><h3>Publisher:</h3> {{c.publisher}}</h3>
        <h3 class="card-text"><h3>Release Date and Time:</h2> {{c.release_date}}</h3>
        <h3 class="card-text"><h3>Price:</h3> SGD {{c.price}}</h3>
        </div>
        </div>
                <br>
        {%if c.image %}
        {%endif%}
        {% if user.is_authenticated %}
        <a href="{% url 'add_to_cart' games_id=c.id %}" class='btn btn-primary'>Add to Cart</a>
        {% endif %}
        {% if user.is_superuser %}
        <a href="{% url 'update_games' games_id=c.id %}" class='btn btn-success'>Edit</a>
        <a href="{% url 'confirm_delete' games_id=c.id %}" class='btn btn-danger'>Delete</a>
        <br>
        {% endif %}
        </li>    
    {% endfor %}
    </ul>
{% endblock %}