{% extends 'base.html' %}


{%block content%}
    <h1>Games</h1>
    <a href="{% url 'create_games' %}">Create Game</a>
    <ul>
    {% for c in all_games %}
        <li>{{c.title}}
        {%if c.image %}
        <img src="{{c.image.cdn_url}}"/>
        {%endif%}
        {% if user.is_authenticated %}
        <a href="{% url 'update_games' games_id=c.id %}">Edit</a>
        <a href="{% url 'confirm_delete' games_id=c.id %}">Delete</a>
        {% endif %}
        </li>    
    {% endfor %}
    </ul>
{% endblock %}
